<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardview.cmt.CmtMapper">

    <insert id="insCmt" parameterType="BoardCmtInsDto">
        insert t_board_cmt
        set iboard = #{iboard},
            ctnt = #{ctnt},
            writer = #{writer},
            pw = #{pw}
    </insert>

    <select id="selCmt" resultType="BoardCmtVo">
        select A.ctnt, B.nm writer, A.created_at createdAt
        from t_board_cmt A
        inner join t_user B
        on A.iuser = B.iuser
        where iboard = #{iboard}
    </select>

    <delete id="delCmt" parameterType="BoardCmtDto">
        delete from t_board_cmt
        where iboard = #{iboard}
    </delete>
</mapper>