<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board11_1.board.BoardMapper">
    <insert id="InsBoard" parameterType="BoardInsDto">
        insert into t_board
        set title = #{title},
        ctnt = #{ctnt},
        iuser = #{iuser}

    </insert>
    <update id="UpdBoard">
        Update t_board
        set title = #{title},
        ctnt = #{ctnt},
        iuser = #{iuser}
        where iboard = #{iboard}

    </update>

    <select id="SelBoard">
        SELECT iboard,title, ctnt, iuser,updated_at
        FROM t_board
        limit #{startIdx},#{row}
    </select>

    <select id="SelBoardDetail">
        SELECT iboard,title, ctnt, iuser,updated_at
        FROM t_board
        where iboard = #{iboard}
    </select>

</mapper>